.custom {
    border-radius: 150px 0px 0px 150px
}

.readius-child {
    border-radius: 150px 150px 0px;
}

.video-icons-animations {
    animation: project-btn-animation 2s infinite;
    border-radius: 100%;
}

@keyframes project-btn-animation {
    0% {
        box-shadow: 0 0 0 0 #fffbfb;
    }

    100% {
        box-shadow: 0 0 0 15px transparent;
    }
}